{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Password Reset</h1>
        <p>Please enter your new password below.</p>

        {{ form_start(resetForm) }}
            <div class="form-group">
                {{ form_label(resetForm.plainPassword) }}
                {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(resetForm.plainPassword) }}
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
