{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="main">
    <!-- ***** Signup Area Start ***** -->
    <section class="author-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <!-- Intro -->
                    <div class="intro text-center">
                        <span>Signup</span>
                        <h3 class="mt-3 mb-0">Create an Account</h3>
                        <p>Create your account to start exploring and trading NFTs.</p>
                    </div>

                    <!-- Item Form -->
                    {{ form_start(registrationForm, {
                        'attr': {
                            'class': 'item-form card no-hover p-4',
                            'novalidate': 'novalidate'
                        }
                    }) }}
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.name, null, {
                                    'label_attr': {'class': 'form-label'}
                                }) }}
                                {{ form_widget(registrationForm.name, {
                                    'attr': {
                                        'class': 'form-control' ~ (registrationForm.name.vars.valid ? '' : ' is-invalid'),
                                        'placeholder': 'Enter your Name'
                                    }
                                }) }}
                                {% if not registrationForm.name.vars.valid %}
                                    <div class="invalid-feedback">
                                        {{ form_errors(registrationForm.name) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mt-3">
                                {{ form_label(registrationForm.email, null, {
                                    'label_attr': {'class': 'form-label'}
                                }) }}
                                {{ form_widget(registrationForm.email, {
                                    'attr': {
                                        'class': 'form-control' ~ (registrationForm.email.vars.valid ? '' : ' is-invalid'),
                                        'placeholder': 'Enter your Email'
                                    }
                                }) }}
                                {% if not registrationForm.email.vars.valid %}
                                    <div class="invalid-feedback">
                                        {{ form_errors(registrationForm.email) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mt-3">
                                {{ form_label(registrationForm.plainPassword, null, {
                                    'label_attr': {'class': 'form-label'}
                                }) }}
                                {{ form_widget(registrationForm.plainPassword, {
                                    'attr': {
                                        'class': 'form-control' ~ (registrationForm.plainPassword.vars.valid ? '' : ' is-invalid'),
                                        'placeholder': 'Enter your Password'
                                    }
                                }) }}
                                {% if not registrationForm.plainPassword.vars.valid %}
                                    <div class="invalid-feedback">
                                        {{ form_errors(registrationForm.plainPassword) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mt-3">
                                <div class="form-check">
                                    {{ form_widget(registrationForm.agreeTerms, {
                                        'attr': {
                                            'class': 'form-check-input' ~ (registrationForm.agreeTerms.vars.valid ? '' : ' is-invalid')
                                        }
                                    }) }}
                                    {{ form_label(registrationForm.agreeTerms, 'I agree to the Terms and Conditions', {
                                        'label_attr': {
                                            'class': 'form-check-label'
                                        }
                                    }) }}
                                    {% if not registrationForm.agreeTerms.vars.valid %}
                                        <div class="invalid-feedback">
                                            {{ form_errors(registrationForm.agreeTerms) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 mt-4" type="submit">
                                Create Account
                            </button>
                        </div>
                        <div class="col-12">
                            <span class="d-block text-center mt-4">Already have an account? <a href="{{ path('app_login') }}">Login</a></span>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Signup Area End ***** -->
</div>
{% endblock %}
