{% extends 'base.html.twig' %}

{% block title %}Edit Artwork{% endblock %}

{% block body %}
    <h1>Edit Artwork</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% if artwork.imageName %}
                <div class="mb-3">
                    <p>Current Image:</p>
                    <img src="{{ asset('uploads/artworks/' ~ artwork.imageName) }}" alt="Current Artwork Image" class="img-thumbnail" style="max-width: 300px;">
                </div>
            {% endif %}
            
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}
            {{ form_row(form.category) }}

            {# Only show imageFile field if the form has it #}
            {% if form.imageFile is defined %}
                {{ form_row(form.imageFile) }}
            {% endif %}

            <div class="mt-4">
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                <a href="{{ path('app_artwork_index') }}" class="btn btn-secondary">Back to list</a>
            </div>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
