{% extends 'base.html.twig' %}

{% block title %}Edit TradeDispute{% endblock %}

{% block body %}
<br><br><br><br><br>
<h1 class="text-center">Edit Trade Dispute</h1>


<div class="table-responsive" style="max-width: 600px; margin: auto;">
    <form method="post" action="{{ path('app_trade_dispute_edit', {'id': trade_dispute.id}) }}">

        <table border="0">
            <tbody>
                {% for field in form %}
                    <tr>
                        <td style="width: 200px;">{{ form_label(field) }}</td>
                        <td>{{ form_widget(field, {'attr': {'class': 'form-control form-control-sm'}}) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
            <a href="{{ path('app_trade_dispute_index') }}" class="btn btn-link">Back to list</a>
            <button class="btn btn-primary" type="submit">Update Dispute</button>
        </div>
    </form>
</div>

<div class="text-center mt-3">
    {{ include('trade_dispute/_delete_form.html.twig') }}
</div>
{% endblock %}
