<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}ArtiTechs Admin{% endblock %}</title>
    <meta content="{% block meta_description %}{% endblock %}" name="description">
    <meta content="{% block meta_keywords %}{% endblock %}" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('back_office/img/favicon.png') }}" rel="icon">
    <link href="{{ asset('back_office/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('back_office/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('back_office/css/style.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        {% block header %}
        <div class="d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <img src="{{ asset('back_office/img/logo.png') }}" alt="Logo">
                <span class="d-none d-lg-block">ArtiTechs Admin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ app.user.profilePicture ? asset('uploads/profile_pictures/' ~ app.user.profilePicture) : asset('front_office/img/default_user_pfp.jpg') }}" 
                             alt="Profile" 
                             class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ app.user.name }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ path('app_admin_user_show', {id: app.user.id}) }}">
                                <i class="bi bi-person"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-danger" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endblock %}
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        {% block sidebar %}
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_home_page_back') }}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="users-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_user_index') }}">
                            <i class="bi bi-circle"></i><span>All Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_user_new') }}">
                            <i class="bi bi-circle"></i><span>Create User</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#nft-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>NFT Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="nft-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_artwork_index') }}">
                            <i class="bi bi-circle"></i><span>All NFTs</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_artwork_new') }}">
                            <i class="bi bi-circle"></i><span>Create NFT</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_category_index') }}">
                            <i class="bi bi-circle"></i><span>Categories</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#blog-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Blogs</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="blog-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_blog_index') }}">
                            <i class="bi bi-circle"></i><span>Posts</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_blog_new') }}">
                            <i class="bi bi-circle"></i><span>New Post</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_comment_back_index') }}">
                            <i class="bi bi-circle"></i><span>Comments</span>
                        </a>
                    </li>
                </ul>
                    <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#transactions-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-currency-exchange"></i><span>Transactions</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="transactions-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>All Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>Reports</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#raffles-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-ticket"></i><span>Raffles & Participants</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="raffles-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_raffle_index') }}">
                            <i class="bi bi-circle"></i><span>Manage Raffles</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_participant_index') }}">
                            <i class="bi bi-circle"></i><span>Participants</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#bets-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-trophy"></i><span>Bet Sessions</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="bets-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('app_admin_bet_session_index') }}">
                    <i class="bi bi-circle"></i><span>All Bets</span>
                    </a>
                </li>
                <li>
                  <a href="{{ path('app_admin_bet_session_create') }}">
                    <i class="bi bi-circle"></i><span>Create Bet</span>
                  </a>
                </li>
              </ul>
            </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ path('app_admin_trade') }}">
                        <i class="bi bi-arrow-left-right"></i>
                        <span>Trade Offer</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ path('app_admin_trade_dispute_index') }}">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span>Trade Disputes</span>
                    </a>
                </li>

        
            <li class="nav-heading">Settings</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-gear"></i>
                    <span>System Settings</span>
                </a>

            </li>
  
            
        </ul>
        {% endblock %}
    </aside>
    
    <main id="main" class="main">
        {% block body %}{% endblock %}
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        {% block footer %}
        <div class="copyright">
            &copy; Copyright <strong><span>ArtiTechs</span></strong>. All Rights Reserved
        </div>
        {% endblock %}
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ asset('back_office/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ asset('back_office/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('back_office/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('back_office/js/main.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>