<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}ArtiTechs Admin{% endblock %}</title>
    <meta content="{% block meta_description %}{% endblock %}" name="description">
    <meta content="{% block meta_keywords %}{% endblock %}" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('back_office/img/favicon.png') }}" rel="icon">
    <link href="{{ asset('back_office/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('back_office/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/vendor/simple-datatables/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('back_office/css/style.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        {% block header %}
        <div class="d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <img src="{{ asset('back_office/img/logo.png') }}" alt="Logo">
                <span class="d-none d-lg-block">ArtiTechs Admin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ app.user.profilePicture ? asset('uploads/profile_pictures/' ~ app.user.profilePicture) : asset('front_office/img/default_user_pfp.jpg') }}" 
                             alt="Profile" 
                             class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ app.user.name }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{{ path('app_admin_user_show', {id: app.user.id}) }}">
                                <i class="bi bi-person"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-danger" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endblock %}
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        {% block sidebar %}
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_dashboard') }}">
                    <i class="bi bi-speedometer2"></i>
                    <span>Analytics Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people"></i><span>User Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="users-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_user_index') }}">
                            <i class="bi bi-circle"></i><span>All Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_user_new') }}">
                            <i class="bi bi-circle"></i><span>Create User</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#nft-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>NFT Management</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="nft-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_artwork_index') }}">
                            <i class="bi bi-circle"></i><span>All NFTs</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_artwork_new') }}">
                            <i class="bi bi-circle"></i><span>Create NFT</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_category_index') }}">
                            <i class="bi bi-circle"></i><span>Categories</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#blog-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Blogs</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="blog-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_blog_index') }}">
                            <i class="bi bi-circle"></i><span>Posts</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_blog_new') }}">
                            <i class="bi bi-circle"></i><span>New Post</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_comment_back_index') }}">
                            <i class="bi bi-circle"></i><span>Comments</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#transactions-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-currency-exchange"></i><span>Transactions</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="transactions-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>All Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>Reports</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Topup Request Button - Fixed to point to admin route -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('app_admin_topup_index') }}">
                    <i class="bi bi-cash-coin"></i>
                    <span>Topup Requests</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#raffles-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-ticket"></i><span>Raffles & Participants</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="raffles-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{{ path('app_admin_raffle_index') }}">
                            <i class="bi bi-circle"></i><span>Manage Raffles</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_participant_index') }}">
                            <i class="bi bi-circle"></i><span>Participants</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#bets-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-trophy"></i><span>Bet Sessions</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="bets-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{{ path('app_admin_bet_session_index') }}">
                    <i class="bi bi-circle"></i><span>All Bets</span>
                    </a>
                </li>
                <li>
                  <a href="{{ path('app_admin_bet_session_create') }}">
                    <i class="bi bi-circle"></i><span>Create Bet</span>
                  </a>
                </li>
              </ul>
            </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ path('app_admin_trade') }}">
                        <i class="bi bi-arrow-left-right"></i>
                        <span>Trade Offer</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ path('app_admin_trade_dispute_index') }}">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span>Trade Disputes</span>
                    </a>
                </li>

        
            <li class="nav-heading">Settings</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-gear"></i>
                    <span>System Settings</span>
                </a>

            </li>
  
            
        </ul>
        {% endblock %}
    </aside>
    
    <main id="main" class="main">
        {% block body %}
            {% if show_dashboard is defined and show_dashboard %}
                <div class="pagetitle">
                    <h1>Analytics Dashboard</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_home_page_back') }}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </nav>
                </div>

                <section class="section dashboard">
                    <div class="row">
                        <!-- Left side columns -->
                        <div class="col-lg-8">
                            <div class="row">
                                <!-- Users Card -->
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card sales-card">
                                        <div class="card-body">
                                            <h5 class="card-title">Users <span>| Total</span></h5>
                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-people"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ dashboard_data.users|length }}</h6>
                                                    {% set increase = ((dashboard_data.users|length - 50) / 50 * 100)|round %}
                                                    <span class="text-{{ increase >= 0 ? 'success' : 'danger' }} small pt-1 fw-bold">{{ increase }}%</span>
                                                    <span class="text-muted small pt-2 ps-1">from last month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Artworks Card -->
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card revenue-card">
                                        <div class="card-body">
                                            <h5 class="card-title">NFT Artworks <span>| Total</span></h5>
                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-palette"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ dashboard_data.artworks|length }}</h6>
                                                    <span class="text-success small pt-1 fw-bold">8%</span>
                                                    <span class="text-muted small pt-2 ps-1">increase</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Token Circulation Card -->
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card customers-card">
                                        <div class="card-body">
                                            <h5 class="card-title">Token Circulation <span>| ESPRIT DAN</span></h5>
                                            <div class="d-flex align-items-center">
                                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                    <i class="bi bi-currency-exchange"></i>
                                                </div>
                                                <div class="ps-3">
                                                    <h6>{{ dashboard_data.total_circulation|number_format(2) }} ESPRIT</h6>
                                                    <span class="text-success small pt-1 fw-bold">12%</span>
                                                    <span class="text-muted small pt-2 ps-1">increase</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Recent NFT Sales -->
                                <div class="col-12">
                                    <div class="card recent-sales overflow-auto">
                                        <div class="card-body">
                                            <h5 class="card-title">Recent NFT Sales <span>| Last 30 Days</span></h5>
                                            <table class="table table-borderless datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Artwork</th>
                                                        <th scope="col">Seller</th>
                                                        <th scope="col">Buyer</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for session in dashboard_data.recent_bets|slice(0, 5) %}
                                                    <tr>
                                                        <th scope="row"><a href="#">#{{ session.id }}</a></th>
                                                        <td>{{ session.artwork.title }}</td>
                                                        <td>{{ session.author.name }}</td>
                                                        <td>{% if session.status == 'ended' %}{{ session.winner.name|default('No Winner') }}{% else %}Pending{% endif %}</td>
                                                        <td>{{ session.currentPrice }} ESPRIT</td>
                                                        <td>
                                                            <span class="badge bg-{{ session.status == 'active' ? 'success' : (session.status == 'pending' ? 'warning' : 'primary') }}">
                                                                {{ session.status|capitalize }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6" class="text-center">No recent sales</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Top Categories -->
                                <div class="col-12">
                                    <div class="card top-selling overflow-auto">
                                        <div class="card-body pb-0">
                                            <h5 class="card-title">Top Categories <span>| By NFT Count</span></h5>
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Preview</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">NFTs</th>
                                                        <th scope="col">Total Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for category in dashboard_data.categories|slice(0, 5) %}
                                                    <tr>
                                                        <th scope="row">
                                                            <i class="bi {% if category.type == 'image' %}bi-image{% elseif category.type == 'video' %}bi-film{% else %}bi-music-note-beamed{% endif %} fs-2"></i>
                                                        </th>
                                                        <td><span class="text-primary fw-bold">{{ category.name }}</span></td>
                                                        <td>{{ category.type|capitalize }}</td>
                                                        <td class="fw-bold">{{ category.artworks|length }}</td>
                                                        <td>
                                                            {% set totalValue = 0 %}
                                                            {% for artwork in category.artworks %}
                                                                {% set totalValue = totalValue + artwork.price %}
                                                            {% endfor %}
                                                            {{ totalValue|number_format(2) }} ESPRIT
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="5" class="text-center">No categories found</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right side columns -->
                        <div class="col-lg-4">
                            <!-- Wallet Distribution -->
                            <div class="card">
                                <div class="card-body pb-0">
                                    <h5 class="card-title">Token Distribution <span>| By Type</span></h5>
                                    <div id="tokenDistribution" style="min-height: 400px;"></div>
                                </div>
                            </div>

                            <!-- Contract Info -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Token Info <span>| ESPRIT DAN</span></h5>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="ps-3">
                                            <h6>Contract Address:</h6>
                                            <p class="text-muted small mb-0">{{ dashboard_data.contract_address }}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="ps-3">
                                            <h6>Fee Wallet:</h6>
                                            <p class="text-muted small mb-0">{{ dashboard_data.fee_wallet }}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="ps-3">
                                            <h6>Network:</h6>
                                            <p class="text-muted small mb-0">Sepolia Testnet</p>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a href="https://sepolia.etherscan.io/token/{{ dashboard_data.contract_address }}" 
                                           target="_blank" 
                                           class="btn btn-primary btn-sm">View on Etherscan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% block dashboard_scripts %}
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        // Token Distribution Chart
                        const tokenChart = echarts.init(document.querySelector("#tokenDistribution"));
                        tokenChart.setOption({
                            tooltip: {
                                trigger: 'item'
                            },
                            legend: {
                                top: '5%',
                                left: 'center'
                            },
                            series: [{
                                name: 'Token Distribution',
                                type: 'pie',
                                radius: ['40%', '70%'],
                                avoidLabelOverlap: false,
                                label: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    label: {
                                        show: true,
                                        fontSize: '18',
                                        fontWeight: 'bold'
                                    }
                                },
                                labelLine: {
                                    show: false
                                },
                                data: [{
                                    value: {{ dashboard_data.total_circulation * 0.65 }},
                                    name: 'User Wallets'
                                },
                                {
                                    value: {{ dashboard_data.total_circulation * 0.15 }},
                                    name: 'Platform Fees'
                                },
                                {
                                    value: {{ dashboard_data.total_circulation * 0.12 }},
                                    name: 'Reserve'
                                },
                                {
                                    value: {{ dashboard_data.total_circulation * 0.08 }},
                                    name: 'Foundation'
                                }]
                            }]
                        });

                        // Initialize DataTable
                        const datatables = document.querySelectorAll('.datatable');
                        datatables.forEach(datatable => {
                            new simpleDatatables.DataTable(datatable);
                        });
                    });
                </script>
                {% endblock %}
            {% endif %}
            {% block main_content %}{% endblock %}
        {% endblock %}
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        {% block footer %}
        <div class="copyright">
            &copy; Copyright <strong><span>ArtiTechs</span></strong>. All Rights Reserved
        </div>
        {% endblock %}
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ asset('back_office/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ asset('back_office/vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('back_office/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('back_office/js/main.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>